.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 999;
  overflow: hidden;
  justify-content: flex-start;
  padding-top: 30vh;

  .splash-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .app-icon {
    width: 100%;
    max-width: 100px;
    height: auto;
    object-fit: contain;
    margin-bottom: 40px;
    margin-top: 120px;
  }

  ion-spinner {
    --spinner-size: 40px;
  }
}

.slide-in-elliptic-top-fwd {
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.3s;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-300px) rotateX(-30deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .splash-screen .app-icon {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .splash-screen .app-icon {
    width: 50%;
  }
}